########## configuration file ##############################
##### general ####### 
lambda_min           8100    Angstroms for blue cutof 
lambda_max           17000    Angstroms for red cutoff 
transition_wave      11200    Angstroms at which switch between G102 and G141      
min_spec_length      25       min number of pixels to try and analyze
delta_z              0.02     amount by which redshifts of widely separated lines can differ.   

###### detector thngs #################################### 
dispersion_red           46.5       Angstroms/pix   ### used for estimates only; doesn't need to be very precise.
dispersion_blue          23  

##### line fitting ###### 
line_mask        250         window in A around the peak to mask out when fitting preliminary continuum
fit_region       1500           window in A around lines to evaulate lines; defined, e.g Ha - fit_region to [SII] + fit_region 
node_wave        9000 10000  11000 12000  13000  14000  15000  16000 
mask_region1     0  0         
mask_region2     0  0
mask_region3     0  0  
fitfluxes        True          False = direct integrate over ha+sii or oiii/hb.  BLENDS LINES.  TESTING ONLY. 
showfig          True
max_fwhm_scl     2.0           fwhm can be up to 2x input guess
min_fwhm_scl     0.3           fwhm can be as small as 0.3 x input guess


########### PEAK finding things not used in fitting only 
########  peak finder things   
nwidths               10    number of cwt kernels to try 
dw                   1       pixels, interval between cwt kernel widths 
minwidth              1.5      minimum cwt kernel size in number of pixels 
maxwidth              2.0       maximim cwt kernel, in fraction of fwhm_est = 2*a_image 

#
#### noise for finding relative peaks 
snr_cwt              1  input to the CWT, but noise is defined unintelligibly so I don't know what this does.
noise_cut_cwt        10    input to the CWT, same noise caveat as above. 

## ridge definitions 
max_dist_ridge_scl   1       max_distance_ridge  = widths * max_dist_ridge_scl + max_dist_ridge_const  
max_dist_ridge_const 1      pix
gap_btw_ridges       1       number of kernels; disconnect ridges if there is gap  
min_length_ridge     3   number of kernels ; peak must be significnant in at least this many kernels 

##### reject very low EW lines on bright continuum:
##### concept line_contrast * dispersion  * npix ~ EW_obs.  0.15 ---> 10A in G102 and 20 A in G141 
min_line_contrast        0.15   minimum for (Flam_peak - Flam_cont) / Flam_cont.   


################ requirements for *real* lines ##############
min_fwhm              45      Angstroms-- lines can't be narrower than the resolution element 
max_fwhm_scale        3       fwhm can't be larger than 1.5 * major axis in Ang.  (A_IMAGE * 2.35  * dispersion * max_fwhm_scale) 
npix_thresh           3   number of pixels that are n_sigma_above_cont above the continuum model (like SEXTRACTOR)
n_sigma_above_cont    2.31  #### 1.73 gives  3 sigma, 2.31 gives 4 sigma. (if 3 pix).    
edge_reject           5      pixels;; reject CWT peak candidates close to edge, because of convolution edge effects.  
## not recommended. 
n_sigma_for_2pix_lines False   ### sqrt(2) * 3.54 = 5; re-running the cwt finder with this cut, then merge and concatenate.  if do not want, set to False.

####### continuum model 
cont_medfilt         31     median filter window for modelling continuum, used for SExtractor type test above. pixels. 


